@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@keyframes pulse-glow {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 0px rgba(239, 68, 68, 0.5);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(239, 68, 68, 0.6);
    }
  }
  
  .animate-pulse-glow {
    animation: pulse-glow 2.5s ease-in-out infinite;
  }
  
  @keyframes soft-glow {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 8px rgba(239, 68, 68, 0.3);
    }
    50% {
      transform: scale(1.03);
      box-shadow: 0 0 18px rgba(239, 68, 68, 0.4);
    }
  }
  
  .animate-soft-glow {
    animation: soft-glow 4s ease-in-out infinite;
  }
  